.home-page {
  justify-content: center;
  margin-top: 72px;
  height: 10vh;
  width: 100vmax;
    font-family: "Open Sans", sans-serif;
    color: #2a2a2a;
    background-color:whitesmoke;
  }
  
  .dog-notfound h2 {
    font-size: 31px;
    font-weight: bold;
    color: #310000;
  }

  .create-newdog {
    margin-top: 13px;
margin-left: 123px;
margin-bottom: 13px;
    display: flex;
    font-size: 17px;
    color: #fff;
    background-color: #009669;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    padding: 13px 27px;
    transition: background-color 0.2s ease-in-out;
    outline: none;
  }
  
  .create-newdog:hover {
    background-color: #003123;
  }

  .loading {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #f5f5f5;
  }
  
  .loading-text {
    font-size: 77px;
    color: #0072af;
    text-align: center;
  }
  