.header {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    height: 72px;
    width: 100%;
    top: 0;
    position:fixed;
    z-index: 999;
  }

  .form-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .form-createnewdog {
    margin-top: 72px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 720px;
    padding: 27px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.7);
  }
  .form-create h2 {
    font-size: 31px;
    font-weight: bolder;
    margin: 20px;
    color:#3b3b3b;
  }
  
  .form-name,
  .form-height,
  .form-weight,
  .form-lifespan,
  .form-temperament {
    font-size: 22px;
    font-weight:bold;
    margin-bottom: 13px;
    color: #4d4d4d;
  }
  
  .input-createdog {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 22px;
    background-color: #efefef;
  }
  
  .input-createdog:focus {
    background-color: #ffffff;
    box-shadow: 0 0 5px #c7c7c7;
  }
  
  .createdNewDog {
    margin-top: 22px;
    margin-bottom: 31px;
        display: flex;
        height: 45px;
        font-size: 22px;
        font-weight: bolder;
        color: #fff;
        background-color: #009669;
        border: none;
        border-radius: 22px;
        cursor: pointer;
        padding: 8px 22px;
        transition: background-color 0.2s ease-in-out;
        outline: none;
  }
  
  .createdNewDog:hover {
    background-color: #006949;
  }
  
  @media only screen and (max-width: 600px) {
    .form {
      width: 90%;
    }
  }